<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScpSecretLaboratorySettingsChanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScpSecretLaboratorySettingsChanger.Properties.Settings>
            <setting name="MainTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GameTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ControlsTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </ScpSecretLaboratorySettingsChanger.Properties.Settings>
    </userSettings>
</configuration>